# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
numpy==2.2.2
geopy==2.4.1
apache-airflow-providers-common-io==1.6.5
apache-airflow-providers-amazon[s3fs]==9.17.0
apache-airflow-providers-openai==1.6.4
apache-airflow-providers-common-messaging==2.0.1
